@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  background: $accent;
}
.logo__img {
  height: 80px;
  width: 80px;
}
.main {
  background-color: $bg;
  padding-bottom: 125px;
  &__links {
    .main__link {
      margin-top: 80px;
      .link__name {
        font-family: "Bahnshrift Light";
        font-weight: 400;
        font-size: 64px;
        color: $accent;
      }
      .link__img {
        display: block;
        width: 930px;
        margin-top: 30px;
        margin: 30px auto 0;
      }
      &__slider {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        max-width: 930px;
        margin: 0 auto;
      }
      &__dots {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .dot {
          width: 20px;
          height: 20px;
          background-color: $accent;
          border-radius: 50px;
        }
        .dot + .dot {
          margin-left: 20px;
        }
      }
    }
  }
}

.contact--form {
  background-color: $secondbg;
  padding: 15px 40px 20px;
  margin-top: 125px;
  .form__title {
    font-size: 40px;
    color: $accent;
  }
  .form__input {
    margin-top: 30px;
    display: block;
    font-size: 32px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px;
    width: 835px;
  }

  .form__input::placeholder {
    color: #fff;
  }
}

.contact--us {
  background-color: $forms;
  display: inline-block;
  padding: 15px 20px;
  margin-top: 50px;
  border-radius: 50px;
  font-size: 32px;
  color: #000;
}

.footer {
  background-color: $accent;
  color: $footertext;
  &__text {
    padding: 44px 0 32px;
    font-size: 24px;
  }
}

.services {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__item {
    margin-top: 25px;
    &__title {
      padding: 15px 0;
      display: block;
      background-color: $secondbg;
      width: 360px;
      color: $accent;
      font-size: 24px;
      text-align: center;
      border-radius: 50px;
    }
    .services__list {
      margin-top: 25px;
      .service {
        color: #ffff;
        font-size: 24px;
        margin-left: 40px;
        margin-top: 15px;
      }
    }
  }
}

.modal {
  z-index: 3;
  position: fixed;
  display: none;
  transition: all 0.5s;
  right: 10%;
  width: 350px;
  background-color: $forms;
  align-items: center;
  border-radius: 50px;
  text-align: center;
  padding: 15px;
  &__title {
    color: #0d1902;
    font-size: 24px;
  }
  &__contact {
    background-color: $modaltextbg;
    display: inline-block;
    padding: 3px 12px;
    margin-top: 13px;
    border-radius: 50px;
    color: #0d1902;
    font-size: 16px;
  }
  &__close {
    position: absolute;
    right: 25px;
  }
}

.modal-show {
  display: block;
  animation: showBlock 1s linear forwards;
}

.modal-close {
  animation: closeBlock 0.5s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeBlock {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.links__wrapper {
  overflow: hidden;
  width: 930px;
  margin: 0 auto;
}
.links__photos--inner {
  display: flex;
  transition: all 0.3s;
  .links__img {
    margin-top: 50px;
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  .dot + .dot {
    margin-left: 20px;
  }
  .dot {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: $accent;
  }
  .dot--active {
    background-color: $forms;
  }
}

.detail__link {
  background-color: $forms;
  color: #000;
  border-radius: 50px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  display: block;
  margin-top: 30px;
}

@import "media";
